<%= link_to "New Status", new_status_path, class: "btn btn-success" %>



<h1> Here are all the statuses! </h1>


<% @statuses.each do |status| %>
   <br>Name  : <%= status.name %> <br>
   Status: <%= status.content %> <br>
   <span class="options"> 
    <%= link_to "EDIT", edit_status_path(status) %> |
    <%= link_to  time_ago_in_words(status.created_at),  status %>
    <%= link_to  "Delete", status, method: :delete, data:{confirm: "are you sure want to delete?"} %>
   </span> 
<% end %>