<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
      	<li><a href="#">Treebook!</a></li>
        <li> <%= link_to "All Statuses", statuses_path %>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
	<%= yield %>
</div>

</body>
</html>
